<head prefix="og: http://ogp.me/ns#">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="application-name" content="{{ global.title }}" />
  <meta name="apple-mobile-web-app-status-bar-style" content="#fff" />
  <meta name="apple-mobile-web-app-title" content="{{ global.title }}" />
  <title>
  {% if page.data.title %}{{ page.data.title | escape }} - {{ global.title }}{% else %}{{ global.title | escape }}{% endif %}
  </title>
  <link rel="alternate" href="{{ page.url | remove: 'index.html' | remove: '.html' | prepend: global.url }}" hreflang="en" />
  <link rel="canonical" href="{{ page.url  | remove: 'index.html' | remove: '.html' | prepend: global.url }}" />
  <meta name="description" {% if page.data.description %} content="{{ page.data.description | strip_html | truncate: 200 | escape }}" {% else %} content="{{ global.description | strip_html | truncate: 200 | escape }}" {% endif %} />
  <meta name="referrer" content="no-referrer-when-downgrade" />
  <meta property="og:site_name" content="{% if page.data.title %}{{ page.data.title | escape }}{% if page.data.author %} | {{ page.data.author }}{% endif %} {% else %} {{ global.title | escape }} {% endif %}" />
  <meta property="og:title" content="{% if page.data.title %}{{ page.data.title | escape }}{% if page.data.author %} | {{ page.data.author }}{% endif %}{% else %}{{ global.title | escape }}{% endif %}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ page.url | remove: 'index.html' | remove: '.html' | prepend: global.url }}" />
  <meta property="og:description" {% if page.data.description %} content="{{ page.data.description | strip_html | truncate: 200 | escape }}" {% else %} content="{{ global.description | strip_html | truncate: 200 | escape }}" {% endif %} />
  {% if page.data.image %}
  <meta property="og:image" content="{{ page.data.image | prepend: global.url }}" />
  {% else %}
  <meta property="og:image" content="{{ global.image | prepend: global.url }}" />
  {% endif %}
  <meta property="og:image:width" content="640" />
  <meta property="og:image:height" content="640" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{% if page.data.title %}{{ page.data.title | escape }}{% if page.data.author %} | {{ page.data.author }}{% endif %}{% else %}{{ global.title | escape }}{% endif %}" />
  <meta name="twitter:url" content="{{ page.url  | remove: 'index.html' | remove: '.html' | prepend: global.url }}" />
  <meta name="twitter:site" content="{{ global.title }}" />
  <meta name="twitter:creator" content="{% if page.data.author %}{{ page.data.author }}{% else %}{{ global.title }}{% endif %}" />
  <meta name="twitter:description"{% if page.data.description %} content="{{ page.data.description | strip_html | truncate: 200 | escape }}" {% else %} content="{{ global.description | strip_html | truncate: 200 | escape }}" {% endif %} />
  {% if page.data.image %}
  <meta name="twitter:image" content="{{ page.data.image | prepend: global.url }}" />
  {% else %}
  <meta name="twitter:image" content="{{ global.image | prepend: global.url }}" />
  {% endif %}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ global.url }}/assets/favicons/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="{{ global.url }}/assets/favicons/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="{{ global.url }}/assets/favicons/favicon-16x16.png" />
  <link rel="mask-icon" href="{{ global.url }}/assets/favicons/safari-pinned-tab.svg" color="#5bbad5" />
  <meta name="apple-mobile-web-app-title" content="{{ global.title }}" />
  <meta name="application-name" content="{{ global.title }}" />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="theme-color" content="#2c2c2c" />
  <!-- EB Garamond font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet"> 
  <!-- Inter font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
  <!-- Stylesheet imports -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ global.url }}/assets/css/style.css" />
</head>
