<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #dc3545;">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ global.url }}">
      <img src="{{ global.logo }}" alt="{{ global.title }}" width="50">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {%- for item in global.navitems -%}
        {% assign item_slice = item.url | slice: 0 %}
        {%- if item.subitems -%}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{%- if item_slice == '/' -%}{{ global.url }}{%- endif -%}{{ item.url }}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ item.name }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {%- for subitem in item.subitems -%}
            {% assign subitem_slice = subitem.url | slice: 0 %}
            <li><a class="dropdown-item" href="{%- if subitem_slice == '/' -%}{{ global.url }}{%- endif -%}{{ subitem.url }}">{{ subitem.name }}</a></li>
            {%- endfor -%}
          </ul>
        </li>
        {%- else -%}
        {%- if item.url == page.url -%}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{%- if item_slice == '/' -%}{{ global.url }}{%- endif -%}{{ item.url }}">{{ item.name }}</a>
        </li>
        {%- else -%}
        <li class="nav-item">
          <a class="nav-link{% if item.disabled %} disabled{% endif %}" href="{%- if item_slice == '/' -%}{{ global.url }}{%- endif -%}{{ item.url }}"{% if item.disabled %} tabindex="-1" aria-disabled="true"{% endif %}>{{ item.name }}</a>
        </li>
        {%- endif -%}
        {%- endif -%}
        {%- endfor -%}
      </ul>
      <form class="d-flex mt-3">
        <input class="form-control me-2" type="search" id="search-input" placeholder="Find some articles here" aria-label="Search" />
        <button class="btn btn-danger dropdown-toggle" type="button" id="searchDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          Search
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="searchDropdown" id="search-results"></ul>
        <script src="{{ global.url }}/assets/js/search.min.js"></script>
        <script>
            var search = KliseSearch({
                searchInput: document.getElementById("search-input"),
                resultsContainer: document.getElementById("search-results"),
                json: "{{ global.url }}/assets/search.json",
            });
        </script>
      </form>
    </div>
  </div>
</nav>
