a {
	text-decoration: none;
  color: rgb(255,59,48);
}

a:hover {
  text-decoration: none;
  color: #d70015;
}

* {
	cursor: default !important;
}

*:hover {
  cursor: default !important;
}

.btn:hover {
  cursor: default;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 30px;
  letter-spacing: -1px;
  color: #222;
  font-weight: bold;
}

h1, h2, h3, h4, h5 {
  font-family: 'EB Garamond', serif;
}

.content {
  padding: 1rem;
}

h3 {
  color: #aaa;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  letter-spacing: -1px;
  color: #666;
  font-weight: bold;
}

p {
  line-height: 1.25;
  font-family: 'Inter', sans-serif;
}
